@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root{
 --rosa: rgb(218, 148, 200);
 --branco: rgb(255, 255, 255);
 --marrom: rgb(78, 52, 21);
 --rosa-claro: rgb(235, 216, 230);
}

* {
  margin: 0;
  padding: 0;

}

body {
  box-sizing: border-box;
  background-color: var(--rosa);
  color: var(--branco);

}

.cabecalho{
  padding: 2% 0 0 18%;
  width: full;
}

.menu{
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.cabecalho_menu{
  color: var(--marrom);
  font-size: 1.5rem;
  font-family: "Exo 2", sans-serif;
  text-decoration: none;
}

.cabecalho_menu:hover{
  transform: translateY(-0.313rem); /* Button moves upward */
  transition: transform 0.3s ease; /* Smooth transition */
}

.titulo-destaque {
    color: var(--marrom);
}

.apresentacao{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10.5%;
}

.apresentacao_about{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 7.5%;
}

.apresentacao_conteudo{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.aboutme_conteudo{
  width: 70%;
}

.sentado {
  float: left;
  width: 30%;
  padding-right: 5%;
  padding-bottom: 2%;
  padding-left: 5%;
}

.aboutme_texto {
  flex: 1; /* O texto ocupa o restante do espaço */
  text-align: center; /* Texto justificado */
  font-family: "Exo 2", sans-serif;
  font-size: large;
  text-justify: distribute;
  text-indent: 2%;
  letter-spacing: 0.125rem;
}

.apresentacao_conteudo_titulo {
  font-size: 1.875rem;
  font-family: "Edu AU VIC WA NT Pre", serif;
  align-items: center;
}

.apresentacao_conteudo_texto{
  font-size: 1.5rem;
  font-family: "Exo 2", sans-serif;
}

.apresentacao_links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}

.apresentacao_redes{
  font-family: "Exo 2", sans-serif;
  text-align: center;
}

.botoes{
  border: 0.2rem solid var(--marrom);
  display: flex;
  justify-content: center;
  gap: 5%;
  width: 50%;
  align-items: center;
  border-radius: 0.938rem;
  font-size: 200%;
  padding: 2% 0;
  text-decoration: none;
  color: var(--marrom);
  font-family: "Exo 2", sans-serif;
  min-width: 240px;
}

.gatinho {
  border-radius: 8%;
  width: 40%;
  padding-left: 2%;
}

.git{
  max-width: 50px;
}

.link{
  max-width: 50px;
}

.botoes:hover{
  background-color: var(--rosa-claro);
}

.sentado:hover {
  transform: scale(1.1) rotate(5deg);
}

.rodape{
  color: var(--marrom);
  background-color: var(--rosa-claro);
  padding: 1.5rem;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  position: sticky;
  bottom: 0;
}

@media (max-width:1200px){
  
  .cabecalho{
    padding: 6%;
  }

  .menu{
    justify-content: center;
  }

  .apresentacao{
    flex-direction: column-reverse;
    padding: 5%;
  }

  .apresentacao_conteudo{
    width: auto;
  }

  .apresentacao_links{
    flex-direction: column;
    gap: 20px;
  }

  .apresentacao_about{
    width: auto;
    display: flex;
    flex-direction: column;
    
  }

  .aboutme_conteudo{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sentado {
    width: 40%;
  }
}