@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;

}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(198, 153, 224);
    color: white;
  }

.titulo-destaque {
    color: rgb(78, 52, 21);
}

.apresentacao{
  margin: 10% 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresentacao_conteudo{
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.apresentacao_conteudo_titulo{
  font-size: 30px;
  font-family: "Edu AU VIC WA NT Pre", serif;
}

.apresentacao_conteudo_texto{
  font-size: 24px;
  font-family: "Exo 2", sans-serif;
}

.apresentacao_links{
  display: flex;
  justify-content: space-between;
}

.botoes{
  background-color: rgb(166, 109, 189);
  width: 280px;
  text-align: center;
  border-radius: 15px;
  font-size: 24px;
  padding: 10px 0;
  text-decoration: none;
  color: rgb(78, 52, 21);
  font-family: "Exo 2", sans-serif;

}

.img {
  border-radius: 8%;
  width: 300px;
}