@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Major+Mono+Display&display=swap');

:root{
    --cor-fundo: #3A7D44;
    --cor-fonte: #FFFFFF;

}

* {
    margin: 0;
    padding: 0;  
}

body{
    box-sizing: border-box;
    background-color: var(--cor-fundo);
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 2% 5% 0 5%;
    width: full;
}

.cabecalho_titulo{
    font-family: "Major Mono Display", monospace;
    font-style: normal;
    font-size: 500%;
    color: var(--cor-fonte);
    opacity: 80%;
}

.cabecalho_aviso {
    position: relative; /* Necessário para o posicionamento absoluto do texto */
    display: flex;
    align-items: center; /* Centraliza texto e imagem verticalmente */
}

.cabecalho_aviso_texto{
    opacity: 0; /* Inicialmente invisível */
    position: absolute;
    left: -150%; /* Posiciona o texto à esquerda da imagem */
    top: 50%; /* Centraliza verticalmente em relação à imagem */
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro */
    color: var(--cor-fonte); /* Cor do texto */
    padding: 5px 10px;
    border-radius: 4px; /* Bordas arredondadas */
    white-space: nowrap; /* Impede que o texto quebre */
    transition: opacity 0.3s ease; /* Transição suave */
}

.cabecalho_aviso_imagem {
    width: 3%;
    height: auto;
    object-fit: contain;
    position: relative;
}

.cabecalho_aviso_imagem:hover .cabecalho_aviso_texto{
    opacity: 1;
}

.corpo{
    padding: 6% 0 0 30%;
}

.base_quadrado{
    padding: 1%;
    width: 800px; 
    height: 553px;
    background-color: rgba(217, 217, 217, 0.4);
    border-radius: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.botoes_quadrado{
    width: 148px; /* Largura */
    height: 100px; /* Altura */
    background-color: rgb(252, 252, 252);
    opacity: 70%;
    border-radius: 10% 10%;
}

.rodape{
    padding-top: 5%;
    position: sticky;
    bottom: 0;
}

.git{
    width: 5%;
}

.rodape_link_contato{
    display: flex;
    justify-content: right;

}
